datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: "sa"
    password: ""
spring:
  sql:
    init:
      mode: never
  jpa:
    hibernate:
      ddl-auto: create-drop